@import '../partials/colors';

.loadingContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    svg {
        width: 3rem;
        height: 3rem;
    }
}

.spinnerColor {
    stop-color: $color-white;
}