@import '../partials/queries';
@import '../partials/colors';

.testimonialsContainer {
    padding: 64px 16px;
    background: linear-gradient($color-background, $color-background);
    scroll-margin-top: 16px;

    @media #{$tablet} {
        padding: 64px 32px;
    }

    @media #{$desktop} {
        padding: 75px 32px;
    }
}

.testimonialsContent {
    margin: 0 auto;

    @media #{$desktop} {
        max-width: 1000px;
    }
}

.testimonialsGrid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;

    @media #{$desktop} {
        grid-template-columns: 1fr 1fr;
    }
}