$color-text: hsl(235, 13%, 17%);
$color-quote-text: hsl(235, 5%, 48%);
$color-error: hsl(0, 100%, 60%);
$color-link: hsl(183, 49%, 35%);
$color-copyright: hsl(0, 0%, 40%);

// Skills Section Colors
$color-web_dev: hsl(351, 34%, 48%);
$color-web_design: hsl(207, 50%, 28%);
$color-seo: hsl(11, 100%, 70%);

// Main color
$color-lighter: hsl(183, 49%, 55%);
$color-light: hsl(183, 49%, 40%);
$color-normal: hsl(183, 49%, 35%);
$color-dark: hsl(183, 49%, 25%);
$color-darker: hsl(183, 49%, 35%);
$color-darkest: hsl(183, 49%, 15%);

$color-white: hsl(0, 0%, 100%);
$color-background: hsl(0, 0%, 95%);