@import '../partials/colors';

.webDevFill {
    fill: $color-web_dev;
}

.webDevStroke {
    stroke: $color-web_dev;

}

.webDesignFill {
    fill: $color-web_design;
}

.seoFill {
    fill: $color-seo;

}