@import './partials/colors';
@import './partials/typography';
@import './partials/queries';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: $font-body;
    font-size: 100%;
    line-height: 1.4;
    color: $color-text;
}

html, body, #root, .App {
    height: 100%;
}

* {
    -webkit-tap-highlight-color: transparent;
}

button {
    color: $color-white;
    background: linear-gradient(to bottom right, darken($color-normal, 3%), lighten($color-normal, 3%));
    background-position: 0% 0%;
    background-size: 100% 200%;
    border: none;
    border-radius: 4px;
    padding: 0.2em;
    max-width: 500px;
    cursor: pointer;
    transition: 150ms all ease-in-out;
    text-align: center;

    &:hover {
        background-position: 0% 100%;
    }
}